* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:teal;
  background-size: auto 100vh;
  height: 100vh;
}

@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
  width: 100vw;
  text-align: center;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 2s , color;
}

.menu a:hover {
  background-color: teal;
  color:white;
}

a {
  text-decoration: none;
  color: teal;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

}

.site-title,
.site-subtitle  {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
  color: silver;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
}

.sobre,
.contato, 
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

@media(min-width: 1200px) {
 .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2,
.contato h2, 
.portfolio h2 {
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.sobre .avatar {
  float: right;
  margin-left: 2em;
}

.sobre .avatar img {
  clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 25%                    100%, 0% 50%, 25% 0%);
}

.sobre p {
  color: white;
  text-indent: 1em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 5em;
  text-decoration: none;
  transition: text-shadow 1s; 
}

.contato a:active, 
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px  rgb(255, 255, 255, 0.9);
}

.portfolio .grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 4em - 48px - 1.5em);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
  border: 2px solid black;
}

.flip-card:hover .card{
  transform: rotateY(180deg);
}

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  top:0;
  left: 0;
  height: 180px;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  transform: rotateY(180deg);
  width: 240px;
}

.portfolio p {
  margin-left: 7%;
  color: black;
}

.text-bold {
  font-weight: bold;
}

.tecnologias {
  display: grid;
  gap: 1em;
}

@media (min-width: 400px) {
  .tecnologias {
    grid-template-columns: repeat(4, 60px);
  }
}

@media (min-width: 880px) {
  .tecnologias {
    grid-template-columns: repeat(8, 60px);
    align-content: center;
    justify-content: center;
  }
}

.tecnologia {
  text-align: center;
}

.img-tecnologias {
  height: 60px;
  width: 60px;
  border: none;
}

.zoom {
  transition: transform .4s; /* Animation */
  width: 80px;
  height: 80px;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
